.apple{
	color: #a6ede4;
	font-family: Comic Sans MS;
	font-size:60px;
	/*letter-spacing:10px;*/
	line-height:10vh;
	/*font-weight:900;*/
	/*display:flex;*/
	/*text-decoration:underline;*/
	/*font-style:italic;*/
	opacity:0.5;
	/*align-items:center;*/
	/*font-family:arial,sans-serif;*/
	cursor:pointer;
	transition:1s;
}
.apple:hover{
	font-size:80px;
}
.banana{
	font-size:30px;
	cursor:pointer;
	transition:1s;
	
}
.banana:hover{
	font-size:40px;
}
body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#container{
	height:100vh;
	background:#1c4669;
	/*linear-gradient(yellow,red);
	linear-gradient(to bottom,yellow ,red );
	linear-gradient(180deg,yellow, red);
	linear-gradient(to top,red , yellow);
	linear-gradient(to bottom, yellow 0%, red 100%);*/
	/*background: -webkit-radial-gradient(circle,white,blue);
	background: -o-radial-gradient(circle,white,blue);
	background: -moz-radial-gradient(circle,white,blue);
	background: radial-gradient(circle,white,blue);*/
	text-align:center;
}
img {
	position:absolute; height:100vh;width:100vw;
}
